<form>
    <input type="button" value="Go back!" onclick="history.back()">
</form>

<h1>{{title}}</h1>
<p>{{status}}</p>
<h2 id="overskrift">Følgende pærer er i databasen:</h2>

<table class="table">
    <tr>
        <th>UID</th>
        <th>Tændt</th>
        <th>Lysstyrke</th>
        <th>Farve</th>
        <th>Strømforbrug nu</th>
        <th>Nominel strømforbrug</th>
        <th>HW Type</th>
        <th>SW Version</th>
        <th>Slet Pærer</th>
    </tr>
    {{#each smartbulb}}
    <div>
    <tr>
        <td>{{_id}}</td>
        <td>{{on}}</td>
        <td>{{lightIntensity}}</td>
        <td class="{{color}}">{{color}}</td>
        <td>{{powerUsageActual}}</td>
        <td>{{powerUsageNominal}}</td>
        <td>{{hardwareType}}</td>
        <td>{{softwareVersion}}</td>
        <td>
            <form action="/smartbulb/delete/{{_id}}" method="POST">
                <button>Fjern</button>
            </form>
        </td>
    </tr>
    </div>
    {{/each}}
</table>